.checklist-item-label {
  display: flex;
  cursor: pointer;
  align-items: flex-start;
  gap: 0.75rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.checklist-item-checkbox {
  margin-top: 0.25rem;
  height: 1rem;
  width: 1rem;
  border-radius: 0.25rem;
}

.checklist-item-text {
  font-size: 0.875rem;
}

.checklist-item-checkbox:checked + .checklist-item-text {
  text-decoration: line-through;
  opacity: 0.7;
}
