.itemLabel {
  display: flex;
  cursor: pointer;
  align-items: flex-start;
  gap: 0.75rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.itemCheckbox {
  margin-top: 0.25rem;
  height: 1rem;
  width: 1rem;
  border-radius: 0.25rem;
}

.itemText {
  font-size: 0.875rem;
}

.itemCheckbox:checked + .itemText {
  text-decoration: line-through;
  opacity: 0.7;
}
